option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"

container_commands:
  01_initdb:
    command: "pip install -r requirements.txt -r && python3 app.py"
    leader_only: true